/* bassic css */
*{
    margin: 0;
    padding: 0;
}
img{
    width:100%;
}
a{
    text-decoration:none;
}

p{
    margin:23px 0;
    color:rgb(82, 79, 79);
}

body{
    font-family: 'Poppins', sans-serif;

}
section{
    height: 450px;
}
/* header-info */
h1{
    font-size:30px;
}
.orange_highligt{
    /* color:rgb(255, 170, 11); */
    color:blueviolet;
}
/* Animation */
.name{
    width:70px;
    height:2px;
    position: relative;
    background:rgb(255, 170, 11);
    animation:mymove 5s infinite;
    animation-timing-function: ease;
}
@keyframes mymove {
    from{left: 0px;}
    to{left:158px;}
    
}
.header{
    background:url(./img/top-banner.png);
    background-repeat:no-repeat;
    padding:20px;
}
.half-width{
    width: 40%;
    float: left;
    padding-left:5%;
    margin-left:2%; 
}
.half-width h3{
    margin-top:40px;
}
/* Button */
.hire-button{
    font-weight:700;
    padding:10px 20px;
    position: relative;
    z-index:1;
    border-bottom:1px solid rgba(250,110,90,1);
        
}
.hire-button:hover{
    color: #fff;
    border-bottom:none; 
    transition:.99s;
}
.hire-button::after{
    content:"";
    position:absolute;
    left:0;
    top:0;
    height: 43px;
    width: 0;
    border-radius:5px;
    color:#fff;
    background: rgb(154,76,134);
    background: linear-gradient(37deg, rgba(154,76,134,1) 12%, rgba(250,110,90,1) 69%);
    z-index:-1;
}
.hire-button:hover::after{
    width:100%;
    transition:.90s;

}

/* dream-section */
.dream-section{
    background:url(./img/dream-bg.png);
    background-repeat:no-repeat;
    background-position:right;
    padding: 20px;
}
/* experience-section */
.experience-box{
    box-shadow:10px 10px 25px gray;
    border-radius:5px;
    height:60%;
    padding: 6px 5px;
    box-sizing: border-box;
}
.experience-section{
    background:url(./img/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
    padding: 20px;
}
#full-stack{
    border-left:7px solid;
    border-image:linear-gradient(180deg,lightSalmon,tomato);
    border-image-slice:1;
    margin-left: 69px;
}
#baby-web{
    border-left:7px solid;
    border-image:linear-gradient(180deg,blue,cyan);
    border-image-slice:1;
}

.footer-section{
    height:0;
}
footer p{
    text-align: center;
}